* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.center {
    padding-right: calc(50% - 570px);
    padding-left: calc(50% - 570px);
}

.header {
    padding-top: 30px;
    padding-bottom: 22px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.header__left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
}

.header__right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
}

.top__content {
    background: #F1E4E6;
    margin-bottom: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.top__content__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.top__content__text1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.top__content__text2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

}

.categories {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 96px;
}

.categories__items {
    position: relative;
}

.categories__items_big {
    min-height: 180px;
    grid-column: 1 / -1;
}

.categories__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.categories__text1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}

.categories__text2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-align: center;
}

.fetured {
    padding-bottom: 61px;
}


.fetured__title_main {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;

}


.fetured__text_main {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}


.fetured__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
    padding-bottom: 19px;
    padding-top: 47px;

}

.fetured__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.fetured__title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.fetured__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.fetured__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.fetured__button_position {
    display: flex;
    justify-content: center;
}

.fetured__button {
    border: 1px solid #FF6A6A;
    background: #FFFFFF;
}

.fetured__button_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px;
}